.NavBar {
    position: relative;
    text-align: center;
}

.NavBarLink {
    margin-right: 2ex;
    font-size: 2.5ex;
}

.UserSection {
    
    position: absolute;
    right: 2%;
    top: 0;
}

.LogoutBtn {
    font-size: 2.5ex;
}