.FullPost {
    flex-direction: column;
    display: flex;
    position: relative;
}

.Post {
    border: 0.25ex #0af solid;
    border-radius: 1ex;
    margin-bottom: 1ex;
    background-color: #efefef;
    color: black;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.Left-section-post {
    text-align: left;
    width: 10%;
}

.Center-section-post {
    width: 75%;
    text-align: left;
}

.Right-section-post {
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: right;
    position: relative;
}

.Comment-section {
    margin-left: 20%;
    width: 80%;
}

.Comment-button {
    font-size: 1.5ex;
    border-radius: 1ex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: min-content;
    height: min-content;
    background-color:rgb(140, 209, 1);
}

.Category {
    font-size: 1.5ex;
    align-items: flex-end;
    border-radius: 1ex;
    position: absolute;
    right: 0;
    top: 0;
    width: min-content;
    height: min-content;
    background-color:rgb(140, 209, 1);
}

.Category-text {
    margin: 0.5ex;
}

.TitleOfPost {
  text-align: left;
  width: 100%;
  margin-top: 1ex;
  font-size: 1.5ex;
}

.Post-body {
  margin: 1ex;
  font-size: 1.2ex;
}

.Details {
  font-size: small;
}